.env

# backend
/backend/node_modules
/backend/.DS_Store
/backend/dist
/backend/.env

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
web//build

# misc
web/.DS_Store
web/*.pem

# debug
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# local env files
web/.env*.local

# vercel
web/.vercel

# typescript
web/*.tsbuildinfo
web/next-env.d.ts